[submodule "hacosta"]
	path = hacosta
	url = https://github.com/hacosta/configfiles.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/VimOrganizer"]
	path = vim/bundle/VimOrganizer
	url = https://github.com/hsitz/VimOrganizer.git
